@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.left-container {
  background-image: url(./assets/left-main.jpg);
  background-size: cover;
  position: relative;
  width: 35%;
  height: 100vh;
}
.left-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -1070%);
  background-image: url(assets/Logo.png);

  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 30px;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 36px 64px 0 48px;
}
nav {
  display: flex;
  justify-content: flex-end;
}
.nav-items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 36px;
}
.nav-items::before {
  content: "";
  height: 2px;
  width: 600px;
  margin-top: 10px;
  background-color: grey;
}
.nav-item:hover {
  cursor: pointer;
  color: rgb(194, 56, 56);
}
.navbar-icon {
  display: none;
}
.top-content {
  display: flex;
  margin-top: 32px;
  margin-left: 16px;
  align-items: flex-end;
}
.creat {
  font-size: 160px;
  line-height: 0.9;
  font-family: "Merriweather", serif;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}
.tivity {
  margin-left: 160px;
  font-size: 160px;
  line-height: 0.9;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: #333333;
}
.our-text {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  color: #333333be;
  margin-bottom: 12px;
  margin-left: 1.2rem;
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-left: 160px;
  margin-bottom: 16px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}
.social:hover {
  cursor: pointer;
}
.btn {
  position: relative;
  left: 41.5rem;
  top: 16px;
  font-family: "Merriweather", serif;
  font-weight: 600;
  padding: 16px 5.3rem;
  background: #333;
  color: #fff;
  border: none;
  font-size: 1rem;
}
.btn:hover {
  background-color: rgb(104, 103, 103);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  color: #5d5d5d;
}
.list-item span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #5d5d5d;
  margin-right: 1.3rem;
  position: relative;
}
.list-item span::after {
  content: "";
  width: 1px;
  height: 55px;
  position: absolute;
  left: 4px;
  background: #5d5d5d;
}

.list-item:hover {
  cursor: pointer;
  color: #000;
}
.list-item.active {
  color: #000;
}
.bottom-content {
  display: flex;
  margin-top: 2rem;
}
.text {
  margin-bottom: 1rem;
}
.image-container {
  margin-left: 12rem;
}
.img-bottom {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  height: 200px;
  width: 400px;
}
.arrow {
  height: 200px;
  width: 200px;
  background-image: url(../assets/down-arrow.png);
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1055px) {
  .left-container::after {
    display: none;
  }
  .navbar-icon {
    display: none;
  }
  .top-content {
    flex-direction: column;
    align-items: flex-start;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .nav-items {
    gap: 3rem;
  }
  .nav-items::before {
    content: "";
    display: none;
  }
  .left-container {
    display: none;
  }
  .our-text {
    font-size: 1.5rem;
    font-family: "Merriweather", serif;
    color: #333333be;
    margin-top: 1rem;
    margin-bottom: 12px;
    margin-left: 60%;
  }
  .btn {
    padding: 1rem 2.3rem;
    font-size: 0.8rem;
    position: static;
    margin-left: 9rem;
    margin-top: 1rem;

    border: none;
  }
  .social-media {
    flex-direction: row;

    margin-left: 112px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 910px) {
  .navbar-icon {
    display: none;
  }
  .arrow {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .navbar-icon {
    display: none;
  }
  .image-container {
    margin-left: 9rem;
    margin-bottom: 3rem;
  }
  .bottom-content {
    flex-direction: column-reverse;
  }
  .list {
    gap: 1rem;
    font-size: 1rem;
    color: #5d5d5d;
    margin-left: 9rem;
    margin-bottom: 4rem;
  }
  .image-container {
    width: 100%;
  }
  .img-bottom {
    width: 80%;
  }
}
@media screen and (max-width: 690px) {
  .navbar-icon {
    display: none;
  }
  .creat {
    margin-top: 1rem;
    font-size: 7rem;
  }
  .tivity {
    margin-left: 10rem;
    font-size: 7rem;
  }
  .our-text {
    margin-left: 55%;
  }
}
@media screen and (max-width: 590px) {
  nav {
    display: flex;
    justify-content: flex-start;
  }
  .nav-items {
    display: none;
  }
  .navbar-icon {
    display: flex;
    justify-content: end;
  }
  .creat-text {
    font-size: 5rem;
  }
  .tivity-text {
    margin-left: 10rem;
    font-size: 5rem;
  }
  .our-text {
    margin-left: 45%;
  }
  .creat {
    font-size: 47px;
  }
  .tivity {
    margin-left: 95px;
    font-size: 57px;
  }
  .our-text {
    margin-top: 0;
    margin-left: 25%;
  }
  .social-media {
    margin-left: 2.5rem;
    margin-top: 16px;
    gap: 32px;
  }
  .social {
    width: 20px;
  }
  .btn {
    padding: 1rem 1.3rem;
    margin-left: 4rem;
  }
  .image-container {
    margin-left: 0.5rem;
  }
  .bottom-content {
    flex-direction: column-reverse;
  }
  .list {
    margin-left: 0.5rem;
  }
  .img {
    width: 100%;
  }
}
